# Example environment settings for a Poetry, FastAPI, and Alembic application
# rename to .env and fill in the values

# FastAPI settings
APP_NAME=legendary-octo-guide
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True

# Database settings
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/bowerbird


# Alembic settings
ALEMBIC_INI=alembic.ini

# Secret key for session management
SECRET_KEY=your_secret_key_here

# Logging settings
LOG_LEVEL=info